.delaymv {
		
		transition: all 0.7s ease-in-out;
	  }
/* Website template by freewebsitetemplates.com */
body {
	background-color: #e2e2e2;
	min-width: 960px;
	margin: 0;
}
img {
	display: block;
	border: 0;
}
/** box-shadow **/
.box {
	background-color: #e7e7e7; /* Needed for IE */
	display: inline-block;
	-moz-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	-webkit-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShdow=true, ShadowOpacity=0.80);
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.box > img {
	display: block;
	position: relative; /* This protects the inner element from being blurred */
}
.clearfix {
	width: 1200px;
	margin: 0 auto;
}









.featured ul {
	list-style: none;
	padding: 0;
}
.featured li {
	float: left;
	width: 220px;
	margin: 0 10px;
}

